.knowledges {

    .knowledgesContent {

        min-height: $minHeight;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: grid;
        grid-template-columns: 38% 12% 1fr 1fr;
        grid-template-rows: 72% 28%;
        grid-template-areas: "L E E E" "O O H H";

        .LangFraWokLib,
        .experience,
        .otherSkills,
        .activities {
            background: $color-1;
            border-radius: $borderRadius;
            padding: 0.8rem;
            color: $white;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            font-family: $font-0;
            color: $color-4;
            text-transform: uppercase;
        }

        .LangFraWokLib {
            grid-area: L;
            margin-bottom: 0.5rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 42% 28% 30%;
            grid-template-areas: "L""F""B";

            .languageDisplay {
                grid-area: L;
                margin-bottom: 20px;

                .months {
                    font-size: 0.65rem;
                    display: flex;
                    justify-content: space-between;
                    color: $white;
    
                    span {
                        width: 15%;
    
                        &:nth-child(2) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(3) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(2):before,
                        &:nth-child(3):before, {
                            content: ' ';
                            background: rgba(180, 179, 179, 0.5);
                            position: absolute;
                            height: 163px;
                            width: 1px;
                            transform: translate(9px, 19px);
                        }
                    }
                }
            }

            .frameworksDisplay {
                grid-area: F;
                margin-bottom: 20px;

                .months {
                    font-size: 0.65rem;
                    display: flex;
                    justify-content: space-between;
                    color: $white;
    
                    span {
                        width: 10%;
    
                        &:nth-child(2) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(3) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(2):before,
                        &:nth-child(3):before {
                            content: ' ';
                            background: rgba(180, 179, 179, 0.5);
                            position: absolute;
                            height: 69px;
                            width: 1px;
                            transform: translate(9px, 19px);
                        }
                    }
                }
            }

            .librariesDisplay {
                grid-area: B;
                margin-bottom: 20px;

                .months {
                    font-size: 0.65rem;
                    display: flex;
                    justify-content: space-between;
                    color: $white;
    
                    span {
                        width: 10%;
    
                        &:nth-child(2) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(3) {
                            text-align: center;
                            width: 20%;
                        }
    
                        &:nth-child(2):before,
                        &:nth-child(3):before {
                            content: ' ';
                            background: rgba(180, 179, 179, 0.5);
                            position: absolute;
                            height: 101px;
                            width: 1px;
                            transform: translate(9px, 19px);
                        }
                    }
                }
            }

            .languagesList {
                padding-top: 0.1rem;

                li {
                    color: $white;
                }

                .progressBar {
                    height: 0.4rem;
                    background: transparent;
                    border-radius: 50px;
                    margin-top: 0.2rem;
                    position: relative;

                    &:after {
                        content: ' ';
                        position: absolute;
                        background-color: $color-4;
                        border-radius: 50px;
                        height: 0.4rem;
                        width: 0;
                        animation: line 0.75s ease-out forwards;

                        @keyframes line {
                            to {
                                width: 91%;
                            }
                        }
                    }
                }
            }
        }

        .experience {
            grid-area: E;
            margin: 0 0 .5rem .5rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 7% 1fr 1fr 1fr;
            grid-template-areas: "1""2""3""4";

            h3 {
                grid-area: 1;
            }
            .exp-1 {
                grid-area: 2;
            }

            .exp-2 {
                grid-area: 3;
            }
            .exp-3 {
                grid-area: 4;
            }

            h4 {
                font-size: 1.1rem;
                color: $color-5;
            }

            h5 {
                color: $color-3;
                padding: 0.5rem 0 0.5rem 1rem;
            }

            p {
                text-align: justify;
                padding: 0 1rem;
            }

            #workPlace {
                font-weight: bold;
                margin-top: -0.5rem;
                margin-bottom: 0.2rem;
            }
            #researchTitle {
                font-style: italic;
                margin-top: 0rem;
            }

            .periods {
                font-size: 0.65rem;
                display: flex;
                justify-content: space-between;
                color: $white;

                span {
                    width: 27%;

                    &:nth-child(2) {
                        text-align: right;
                        width: 20%;
                    }

                    &:nth-child(3) {
                        text-align: right;
                        width: 47%;
                    }

                    &:nth-child(2):before,
                    &:nth-child(3):before {
                        content: ' ';
                        background: rgba(180, 179, 179, 0.5);
                        position: absolute;
                        height: 101px;
                        width: 1px;
                        transform: translate(9px, 19px);
                    }
                }
            }
        }

        .otherSkills {
            grid-area: O;
            // grid
            margin-right: 0.5rem;

            .skillsList {
                display: flex;
                width: 80%;
                height: 100%;
                margin: 0 auto;
                justify-content: space-between;

                ul {
                    height: 80%;
                    display: grid;

                    i {
                        color: $color-5;
                        font-size: 1rem;
                        width: 20px;
                    }
                }
            }
        }
        .activities {
            grid-area: H;

            .actList {
                display: flex;
                width: 80%;
                height: 100%;
                margin: 0 auto;
                justify-content: space-between;

                ul {
                    height: 80%;
                    display: grid;

                    li {
                        i {
                            color: $color-5;
                            font-size: 1rem;
                            width: 25px;
                            // height: 25px;
                        }
                    }
                }
            }
        }

        // .activities {
        //     grid-area: H;
        //     padding-left: 1.5rem;

        //     ul {
        //         height: 80%;
        //         display: grid;

        //         li {
        //             i {
        //                 position: absolute;
        //                 color: $color-5;
        //             }

        //             span {
        //                 position: absolute;
        //                 transform: translateX(2.2rem);
        //             }
        //         }
        //     }
        // }
    }
}



@media screen and (max-width: 950px) {
    .knowledgesContent {
        h3 {
            font-size: 1.2rem !important;
        }

        .languagesList {
            padding-top: .2rem !important;
        }

        p {
            font-size: .8rem;
        }

        .otherSkills,
        .activities {
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 850px) {
    .knowledgesContent {
        h4 {
            font-size: .9rem !important;
        }

        h5 {
            font-size: .6rem !important;
            padding: .2rem 1rem !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .knowledgesContent {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 180px 180px !important;

        .languages {
            grid-area: 1 !important;
        }

        .experience {
            grid-area: 2 !important;
            margin-left: 0 !important;
        }

        .otherSkills {
            grid-area: 3 !important;
            margin-right: 0 !important;
        }

        .activities {
            grid-area: 4 !important;
            margin-top: .5rem !important;
        }
    }
}