.underConstruction {
    @include verticalCenter;
    height: 95vh;
    max-width: 1200px;
    background: $color-1;
    border-radius: $borderRadius;
    text-align: center;
    
    

    #message {
        margin-bottom: 3rem;
        font-size: 2rem;
        color: $white;

        #iconCogs {
            font-size: 80px;
        }
    }

    a {
        padding: 1rem 2rem;
        border-radius: $borderRadius;
        background: $color-4;
        transition: 0.2s;

        &:hover {
            background: $color-5;
        }
    }
}

